Q1. **What are data structures, and why are they important?**

Ans. Data structures are organized ways to store, manage, and retrieve data efficiently they are important because they optimize data usage, improve performance, and simplify problem-solving in programming.

Q2.  **Explain the difference between mutable and immutable data types with examples?**

Ans. Mutable: Can be changed after creation. Example: list, dict.
my_list = [1, 2, 3]
my_list[0] = 4  #Changes to [4, 2, 3]

Immutable: Cannot be changed after creation. Example: tuple, string.
my_tuple = (1, 2, 3)
my_tuple[0] = 4  #Error: Tuples are immutable

Q3. **What are the main differences between lists and tuples in Python?**

Ans. Mutability: Lists are mutable; tuples are immutable.
Syntax: Lists use []; tuples use ().
Performance: Tuples are faster due to immutability.
Use Case: Lists are for dynamic data; tuples are for fixed, constant data.

Q4. **Describe how dictionaries store data?**

Ans. Dictionaries store data as key-value pairs in a hash table. Keys are unique and hashed for quick lookup, while values can be any data type. Example : my_dict = {"name": "Alice", "age": 25}

Q5. **Why might you use a set instead of a list in Python?**

Ans. Use a set when:
-You need to eliminate duplicates automatically.
-You require efficient operations like union, intersection, or difference.

Q6. **What is a string in Python, and how is it different from a list?**

Ans. A string in Python is a sequence of characters enclosed in quotes while a list is a collection of elements that can be of any data type.
Key differences:
-Mutability: Strings are immutable; lists are mutable.
-Data Type: Strings only store characters; lists can store mixed data types.
-Syntax: Strings use quotes ("hello"), and lists use brackets ([1, 2, "hello"]).

Q7. **How do tuples ensure data integrity in Python?**

Ans. Tuples ensure data integrity by being immutable, meaning their contents cannot be changed after creation this makes them reliable for storing fixed, constant, or unchangeable data.

Q8. **What is a hash table, and how does it relate to dictionaries in Python?**

Ans. A hash table is a data structure that stores data in key-value pairs using a hashing function for fast lookups like python dictionaries are implemented as hash tables, enabling quick access to values via unique keys.

Q9. **Can lists contain different data types in Python?**

Ans. Yes lists in Python can contain different data types, such as integers, strings, and objects, all within a single list. Example : my_list = [1, "hello", 3.14, True]

Q10. **Explain why strings are immutable in Python?**

Ans. Strings are immutable in Python to prevent accidental changes and make them more efficient in memory and performance once created their value can't be changed.

Q11. **What advantages do dictionaries offer over lists for certain tasks?**

Ans. Dictionaries offer faster lookups, insertions, and deletions by using keys for direct access making them more efficient than lists for tasks that require frequent searching or updating by a specific identifier.

Q12. **Describe a scenario where using a tuple would be preferable over a list.**

Ans. A tuple is preferable when you need to store a fixed collection of items that should not be changed like coordinates (x, y) or days of the week and its immutability ensures data integrity and offers better performance in these cases.

 Q13. **How do sets handle duplicate values in Python?**

 Ans. Sets automatically remove duplicate values. When you add an element to a set it only keeps one instance of each unique value ignoring any duplicates.

 Q14. **How does the “in” keyword work differently for lists and dictionaries?**

 Ans. For lists: The "in" keyword checks if a value is present in the list. It scans each element sequentially. Example :
my_list = [1, 2, 3]
2 in my_list  #Returns True

For dictionaries: The "in" keyword checks if a key is present in the dictionary. It does not check for values. Example :    
my_dict = {"a": 1, "b": 2}
"a" in my_dict  #Returns True

Q15. **Can you modify the elements of a tuple? Explain why or why not?**

Ans. No we cannot modify the elements of a tuple because tuples are immutable in Python nce created their content cannot be changed ensuring data integrity and efficiency.

Q16. **What is a nested dictionary, and give an example of its use case?**

Ans. A nested dictionary means that inside a dictionary, instead of simple values (like strings, numbers, or lists) the values themselves are dictionaries this allows you to create a hierarchy of key-value pairs.
Use case: Representing multiple levels of data, like details of employees in a company, where each employee has a dictionary of personal and job-related information.
Example. company = {
    "Ajay": {"age": 30, "position": "Manager"},
    "Manjulika": {"age": 25, "position": "Engineer"}
}

Q17. **Describe the time complexity of accessing elements in a dictionary.**

Ans. Accessing elements in a dictionary is very fast with an average time complexity of O(1) this means it takes the same time to find an item no matter how big the dictionary is.

Q18. **In what situations are lists preferred over dictionaries.**

Ans. Lists are preferred over dictionaries when you need:
-Index-based access: You want to access elements by their position not by a key.
-Homogeneous data: You have a collection of similar items (example : numbers or strings) where keys are not needed.

Q19. **Why are dictionaries considered unordered, and how does that affect data retrieval?**

And. Dictionaries were traditionally considered unordered because in earlier versions of Python the order of key-value pairs was not guaranteed since Python 3.7 dictionaries maintain insertion order though they are still based on a hash table.
This affects data retrieval because:
-You can't rely on the order of items when iterating over a dictionary (although the order is now maintained in Python 3.7+).
-Accessing values is still very efficient since the data is accessed by keys not by order.

Q20. **Explain the difference between a list and a dictionary in terms of data retrieval.**

Ans. List: Data is retrieved by index which is a position in the list.you access elements using their index like my_list[0] for the first element.
Dictionary: Data is retrieved by key You access values using unique keys like my_dict['key'] for the value associated with 'key'.

lists use numeric indices while dictionaries use keys to retrieve data.

In [1]:
#Q1. Write a code to create a string with your name and print it.
my_name = "Shapath"
print(my_name)

Shapath

In [3]:
#Q2. Write a code to find the length of the string "Hello World"
new_string = "Hello World"
length = len(new_string)
print(length)

11

In [5]:
#Q3. Write a code to slice the first 3 characters from the string "Python Programming"
string = "python programming"
slices = string[:3]
print(slices)

pyt

In [6]:
#Q4. Write a code to convert the string "hello" to uppercase.
string = "hello"
capital_letter_string = string.upper()
print(capital_letter_string)

HELLO

In [10]:
#Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
string = "i like apple"
print(string)
new_string = string.replace("apple", "oragne")
print(new_string)

i like apple
i like oragne

In [11]:
#Q6. Write a code to create a list with numbers 1 to 5 and print it.
listt=[1,2,3,4,5]
print(listt)

[1, 2, 3, 4, 5]

In [12]:
#Q7. Write a code to append the number 10 to the list [1, 2, 3, 4]
listt=[1,2,3,4]
print(listt)
listt.append(10)
print(listt)

[1, 2, 3, 4]
[1, 2, 3, 4, 10]

In [14]:
#Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
listt=[1,2,3,4,5]
print(listt)
listt.remove(3)
print(listt)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]

In [19]:
#Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
listt=['a', 'b', 'c', 'd']
second_element = listt[1]
print(second_element)
type(second_element)

b

str

In [21]:
#Q10. Write a code to reverse the list [10, 20, 30, 40, 50].
listt=[10,20,30,40,50]
print(listt)
listt.reverse()
print(listt)

#another way
listt=[10,20,30,40,50]
print(listt)
reversed_list = listt[::-1]
print(reversed_list)

[10, 20, 30, 40, 50]
[50, 40, 30, 20, 10]
[10, 20, 30, 40, 50]
[50, 40, 30, 20, 10]

In [22]:
#Q11. Write a code to create a tuple with the elements 10, 20, 30 and print it
tuplee=(10,20,30)
print(tuplee)

(10, 20, 30)

In [23]:
#Q12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
tuplee=('apple', 'banana', 'cherry')
print(tuplee)
first_ele=tuplee[1]
print(first_ele)

('apple', 'banana', 'cherry')
banana

In [24]:
#Q13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
tuplee=(1, 2, 3, 2, 4, 2)
countt=tuplee.count(2)
print(countt)

3

In [25]:
#Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
tuplee=('dog', 'cat', 'rabbit')
indexx=tuplee.index('cat')
print(indexx)

1

In [26]:
#Q15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')
tuplee=('apple', 'orange', 'banana')
is_banana_in_tuple= 'banana' in tuplee
print(is_banana_in_tuple)

True

In [27]:
#Q16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
sett={1,2,3,4,5}
print(sett)

{1, 2, 3, 4, 5}

In [31]:
#Q17. Write a code to add the element 6 to the set {1, 2, 3, 4}.
sett={1, 2, 3, 4}
print(sett)
sett.add(6)
print(sett)

{1, 2, 3, 4}
{1, 2, 3, 4, 6}

In [32]:
#Q18. Write a code to create a tuple with the elements 10, 20, 30 and print it.
tuplee=(10,20,30)
print(tuplee)

(10, 20, 30)

In [33]:
#Q19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
tuplee=('apple', 'banana', 'cherry')
print(tuplee)
first_ele=tuplee[1]
print(first_ele)

('apple', 'banana', 'cherry')
banana

In [34]:
#Q20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
tuplee=(1, 2, 3, 2, 4, 2)
countt=tuplee.count(2)
print(countt)

3

In [35]:
#Q21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
tuplee=('dog', 'cat', 'rabbit')
indexx=tuplee.index('cat')
print(indexx)

1

In [36]:
#Q22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')
tuplee=('apple', 'orange', 'banana')
is_banana_in_tuple= 'banana' in tuplee
print(is_banana_in_tuple)

True

In [37]:
#Q23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
sett={1,2,3,4,5}
print(sett)

{1, 2, 3, 4, 5}

In [38]:
#Q24. Write a code to add the element 6 to the set {1, 2, 3, 4}.
sett={1, 2, 3, 4}
print(sett)
sett.add(6)
print(sett)

{1, 2, 3, 4}
{1, 2, 3, 4, 6}